@charset 'utf-8';

html,body{
	width: 100%;
	height: 100%;
}
.wrep{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.img{
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	top: 0%;
}
.con{
	width: 840px;
	height: 640px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -420px;
	margin-top: -320px;
	z-index: 500;
	background: rgba(255,255,255,0.8);
}
@media screen and (max-width: 850px){
	.con{
		width: 100%;
		position: absolute;
		left: 0%;
		top: 50%;
		margin-left: 0px;
		margin-top:-320px;
		z-index: 500;
	}
}
@media screen and (max-width:767px){
	.con{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0%;
		top: 0%;
		margin-left: 0px;
		margin-top:0px;
		z-index: 500;
	}
}
.con .top p{
	width: 100%;
	height: 50px;
	color:#10427a;
	font-size: 16px;
	line-height: 50px;
	padding-left: 35px;
}
@media screen and (max-width:767px){
	.con .top p{
		padding-left: 15px;
	}
}
.content{
	width: 100%;
	height: 420px;
	padding: 30px 0 30px 0;
	overflow: scroll;
}
@media screen and (max-width:767px){
	.content{
		height: calc(100% - 220px);
	}
}
.content .kuang{
	width: 100%;
}
.content .kuang + .kuang{
	margin-top: 35px;
}
.content .left{
	float: left;
	width: 540px;
	margin-left: 35px;
}
@media screen and (max-width:767px){
	.content .left{
		margin-left: 15px;
	}
}
.content .left .yonghu-img{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	margin-right:20px;
}
.content .left .input{
	max-width: 450px;
	height: auto;
	float: left;
	margin-top: 15px;
	border: 1px solid #E8EAF0;
	padding: 15px 25px;
	border-radius: 8px;
	background: #ffffff;
	position: relative;
}
@media screen and (max-width:767px){
	.content .left .input{
		max-width: 300px;
		padding: 15px;
	}
}
@media screen and (max-width:414px){
	.content .left .input{
		max-width: 220px;
	}
}
.content .left .input p{
	color: #666666;
	font-size: 14px;
	line-height: 22px;
}
.content .left .input ul{
	color: #666666;
	margin: 1em auto;
	list-style-position: inside;
}
.content .left .input ul li{
	list-style-type: circle;
	line-height: 1.5;
}
.content .left .input .jiao{
	position: absolute;
	left: -10px;
	top: 28%;
	z-index: 50;
}
.content .right{
	float: right;
	width: 540px;
	margin-right: 35px;
}
@media screen and (max-width:767px){
	.content .right{
		margin-right: 15px;
	}
}
.content .right .yonghu-img{
	width: 50px;
	height: 50px;
	float: right;
	border-radius: 50%;
	margin-left:20px;
}
.content .right .input{
	max-width: 450px;
	height: auto;
	float: right;
	margin-top: 15px;
	border: 1px solid #E8EAF0;
	padding: 15px 25px;
	border-radius: 8px;
	background: #ffffff;
	position: relative;
}
@media screen and (max-width:767px){
	.content .right .input{
		max-width: 300px;
		padding: 15px;
	}
}
@media screen and (max-width:414px){
	.content .right .input{
		max-width: 220px;
	}
}
.content .right .input p{
	color: #666666;
	font-size: 14px;
	line-height: 22px;
}
.content .right .input .jiao{
	position: absolute;
	right: -10px;
	top: 28%;
	z-index: 50;
}
.bottom{
	width: 100%;
	height: 170px;
	position: relative;
}
.bottom .top{
	height:50px;
	line-height: 50px;
	padding-left: 40px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}
@media screen and (max-width:767px){
	.bottom .top{
		padding-left: 15px;
	}
}
.bottom .top img{
	display: inline-block;
	margin-right: 25px;
}
.bottom .shuru{
	width: 100%;
	height: 120px;
	resize: none;
	padding: 20px;
	padding-right: 130px;
	line-height: 1.25;
}
.bottom .btn{
	width: 105px;
	height: 40px;
	background:#2B80C9;
	color: #ffffff;
	font-size: 16px;
	position: absolute;
	right: 10px;
	bottom:30px;
	z-index: 50;
}
.bottom .btn:hover{
	background: #68b9ff;
}