<md-bottom-sheet class="md-list md-has-header">
    <md-subheader ng-cloak>编辑{{ roleLabels[user.roles[0]] }}</md-subheader>
    <form layout="row" ng-submit="updateUser(user)">
        <div flex="50" layout="column">
            <md-input-container>
                <label>姓名</label>
                <input ng-model="user.name" required>
            </md-input-container>
            <md-input-container>
                <label>性别</label>
                <input ng-model="user.gender">
            </md-input-container>
            <md-input-container>
                <label>手机号</label>
                <input ng-model="user.mobile">
            </md-input-container>
        </div>
        <div flex="50" layout="column">
            <md-input-container>
                <label>用户名</label>
                <input ng-model="user.username" autocomplete="off" required>
            </md-input-container>
            <md-input-container>
                <label>密码</label>
                <input type="password" ng-model="user.password" autocomplete="new-password">
            </md-input-container>
            <md-input-container>
                <label>角色</label>
                <md-select ng-model="user.roles[0]" multiple>
                    <md-option ng-repeat="role in roles" value="{{ role.name }}">{{ role.label }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-button ng-show="userChanged" type="submit" class="md-fab md-fab-corner">
            <md-icon>done</md-icon>
        </md-button>
    </form>
</md-bottom-sheet>