
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> 导航 </li>
        <li>
            <a md-button aria-label="menu" href="#!/welcome">
                <i class="fa fa-check-square-o"></i>
                <span>欢迎使用</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/dashboard">
                <i class="fa fa-bar-chart"></i>
                <span>咨询统计</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/qa/list">
                <i class="fa fa-book"></i>
                <span>知识问答</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/user/list">
                <i class="fa fa-user"></i>
                <span>后台用户</span>
            </a>
        </li>
    </ul>
</div>