<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="逻辑驱动：诗序（上海）软件开发中心；界面支持：上海雍熙信息技术有限公司" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="renderer" content="webkit">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>星智客服</title>
	<link href="css/style.css" rel="stylesheet"/>
	<link href="css/slick.css" rel="stylesheet"/>
	<link href="css/slick-theme.css" rel="stylesheet"/>
	<link rel="stylesheet" href="css/base-v1.3.css">

	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>

<div id="app" class="wrep">
	<img src="images/J1.jpg" class="img" alt="">
	<div class="con">
		<div class="top"><p>星智客服</p></div>
		<div class="content clearfix">
			<div class="kuang clearfix" v-for="message in messages">
				<div class="clearfix" v-cloak v-bind:class="{ left: !message.fromClient, right: message.fromClient }">
					<div v-if="!message.fromClient" class="yonghu-img"><img src="images/2_03.png" alt=""></div>
					<div v-if="message.fromClient" class="yonghu-img"><img src="images/avatar_default.png" alt=""></div>
					<div class="input">
						<img v-if="!message.fromClient" src="images/6.png" class="jiao" alt="">
						<p v-if="message.text && !(message.text.match(/人工服务/) && message.qas)">{{ message.text }}</p>
						<span v-if="message.html" v-html="message.html"></span>
						<p v-if="message.qas">您是不是想问：</p>
						<ul v-if="message.qas">
							<li v-for="qa in message.qas">
								<a v-on:click="replyQa(qa._id)">{{ qa.q }}？</a>
							</li>
						</ul>
						<p v-if="message.qas || message.html">回复“0”转人工服务</p>
						<img v-if="message.fromClient" src="images/6_07.png" class="jiao" alt="">
						<iframe v-if="message.url" v-bind:src="message.url" style="border:none; height:35vh"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="top">
				<img src="images/11.png" alt="">
				<img src="images/12_06.png" alt="">
			</div>
			<textarea name="" id="" class="shuru" v-model="newMessageText" v-on:keypress.enter="sendMessage"></textarea>
			<button class="btn" v-on:click="sendMessage">发送</button>
		</div>
	</div>

</div>

<script type="text/javascript" src="js/common.js"></script>
</body>
</html>